<body style="background-image: url(https://images.pexels.com/photos/614077/pexels-photo-614077.jpeg?cs=srgb&dl=analogue-aperture-black-and-white-614077.jpg&fm=jpg); background-position: center; background-size: cover;">
<h2 class="text-center" style="color: white;">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col-lg-6 " style="background-color: white; border-radius: 25px; padding: 20px; opacity: 0.8px; box-shadow: 0px 0px 97px -10px rgba(171,171,171,0.67)">
      <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>

    <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "first-name" } %>
    <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "last-name" } %>
    <%= f.input :location, required: true, autofocus:true, input_html: { autocomplete: "location" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Sign up" , class: "btn btn-primary" %>
    <hr>
    <p style="margin-top: 30px;">Already have an account? <%= render "devise/shared/links" %></p>
  </div>
<% end %>
  </div>
  </div>
</div>

</body>
